// Base

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 10px; */
  /* 10 px / 16 px = 0.625 = 62.5 % */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  /* does not work on safari and ms edge */
  /* scroll-behavior: smooth; */
}

body {
  box-sizing: border-box;
}
